@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 740px;
        }
    title{
        width: 50%;

    }

    .hero__svg {
        left: 339px;
        width: 383px;
    }

    .hero-rightPhone {
        left: 646px;

    }

    .hero-leftPhone {
        left: 330px;
    }

    .hero-curly {
        left: 729px;
    }

    .hero-black {
        left: 465px;
    }

    .hero-readHead {
        left: 631px;
    }

    .hero-smile {
        left: 293px;
    }

    .hero-man {
        left: 399px;
    }

    .hero-blackHead {
        left: 669px;
    }


}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {

    .share__box{
        margin: 0;
    }

    .hero__title {
        padding-top: 70px;
        font-size: 31px;
        line-height: 40px;

    }

    .hero__subtitle {
        font-weight: 300;
        font-size: 13px;
        line-height: 21px;
        color: #00194A;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-bottom: 24px;
    }
    .header__scroll{
    padding: 8px 76px;
    align-items: center;
    text-align: center;
}
    .app__title {
        font-size: 24px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 18px;
    }

    .app__subtitle {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 26px;
    }
}