@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 740px;
        }

    @media (max-width: 992px){
        .hero__svg {
            left: 29px;
            top: 117px;
            width: 338px;
        }

        .hero__btn {
            font-family: 'ABeeZee', sans-serif;
            font-style: italic;
            font-size: 13px;
            line-height: 11px;
            color: #FFFFFF;
            box-shadow: 0 5px 50px rgb(255 0 67 / 10%);
            border-radius: 30px;
            padding: 10px 10px 10px 10px;
            margin-bottom: 158px;
        }
    title{
        width: 50%;

    }

    .hero__svg {
        left: 339px;
        width: 383px;
    }

    .hero-rightPhone {
        left: 646px;

    }

    .hero-leftPhone {
        left: 330px;
    }

    .hero-curly {
        left: 729px;
    }

    .hero-black {
        left: 465px;
    }

    .hero-readHead {
        left: 631px;
    }

    .hero-smile {
        left: 293px;
    }

    .hero-man {
        left: 399px;
    }

    .hero-blackHead {
        left: 669px;
    }


}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {

    .hero__svg {
        left: 0;
        top: 145px;
        width: 383px;
    }
    .share__box {
        margin: 0;
    }

    .hero__title {
        padding-top: 70px;
        font-size: 31px;
        line-height: 40px;

    }

    .hero__subtitle {
        font-weight: 300;
        font-size: 13px;
        line-height: 21px;
        color: #00194A;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-bottom: 24px;
    }

    .header__scroll {
        padding: 8px 76px;
        align-items: center;
        text-align: center;
    }

    .app__title {
        font-size: 24px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 18px;
    }

    .app__subtitle {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 26px;
    }

    .app__btn {
        font-size: 13px;
        line-height: 14px;
        padding: 10px 20px 10px 20px;

    }

    .download__container {
        padding: 180px 0 80px 0;
    }

    .keep__range {
        position: absolute;
        left: 0;
        top: 245px;
        width: 300px;
    }

    .keep__title {
        padding-top: 444px;
        font-size: 30px;
        line-height: 31px;
        color: #00194A;
        margin-bottom: 20px;
    }


    .keep__subtitle {
        width: 388px;
        height: 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        margin-top: 0;
        opacity: 0.8;
    }

    .row__title {
        padding-top: 565px;
        font-size: 35px;
        line-height: 50px;
        color: #00194A;
        align-items: center;
        margin-bottom: 30px;
    }

    .row__box.first {
        left: 0;
    }
    .row__box.second {
        left: 0;
    }
    .row__box.third {
        left: 0;
    }

}


}
